<ion-content class="login-content">
  <div class="login-container">
    <div class="brand-box">
      <h1>AgroPlan</h1>
      <p>
        Plataforma para la planificación y gestión del suministro de productos
        agrícolas locales.
      </p>
    </div>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Iniciar sesión</ion-card-title>
        <ion-card-subtitle>Accede a tu cuenta</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form>
          <ion-item>
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input type="email" name="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" name="password"></ion-input>
          </ion-item>

          <ion-button expand="block" class="main-button" routerLink="/catalogo">
            Entrar
          </ion-button>

          <ion-button fill="clear" expand="block" routerLink="/register">
            Crear cuenta
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
